body{
	margin:0;
	padding:0;
    font-family: 'Montserrat', sans-serif;


}
h1,h2,h3,h4,h5,h6,p,ul,li,a{
	margin:0;
	padding:0;
	list-style:none;
}



/******************************************** start header area ***********************************************************/
.header-area {
	padding: 30px 0;
	position:absolute;
	top:0;
	width:100%;
	left:0;
}
.logo-area img {
	width: 120px;
}
.menubar-area{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:end;
	    -ms-flex-pack:end;
	        justify-content:flex-end;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.menubar ul{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:end;
	    -ms-flex-pack:end;
	        justify-content:flex-end;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}
.menubar ul li{
	margin-right:30px;
}
.menubar ul li a {
	color: #0066FF;
	font-size: 15px;
	font-weight: 700;
	text-transform:uppercase;
	text-decoration:none;
}
.header-area .row {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	            -ms-grid-row-align: center;
	        align-items: center;
}
.menu_button a {
	background: #0066FF;
	color: #FFF;
	text-decoration: none;
	padding: 11px 16px;
	overflow: hidden;
	display: block;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 5px;
	margin-top: ;
	align-items:center;
	transition:0.5s;
}
.menu_button a:hover {
	background:#13136D;
	transition:0.5s;
}
/******************************************** end header area *************************************************************/


/******************************************** start banner area ***********************************************************/
.banner-area {
	overflow: hidden;
	background: url(../images/banner/banner.png) no-repeat 0 0 / 100% 100%;
	padding: 260px 0 120px 0;
}
.banner-content h2 {
	font-size: 60px;
	color: #0066FF;
	font-weight: 700;
	width: 44%;
	padding-bottom: 15px;
}
.banner-content p {
	font-size: 20px;
	color: #13136D;
	width: 40%;
	font-weight: 400;
	text-shadow: 0 0 30px #13136D;
}
.banner-content a {
	background: #0066FF;
	color: #FFF;
	text-decoration: none;
	padding: 14px 23px;
	overflow: hidden;
	display: inline-block;
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
	border-radius: 5px;
	margin-top: 36px;
	transition:0.5s;
}
.banner-content a:hover {
	background:#13136D;
	transition:0.5s;
}
.nav-icon {
	display: none;
	float: right;
	text-decoration: none !important;
}
.nav-icon i {
	font-size: 24px;
	color: #FFF;
	border: 1px solid #0066FF;
	width: 48px;
	height: 37px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 6px;
	background: #0066FF;
}
.mobile-menu{
	display:none;
}
.top-fixed {
	/* background: rgba(183 183 183 ); */
	background: #0066FF;
	position: fixed !important;
	width: 100%;
	top: 0px;
	color: #FFF;
	padding: 18px 0px 18px 0;
	z-index: 9999;
	left: 0;
	border-bottom: 1px solid #DDD;
	-webkit-animation: slide-down 0.5s;
	animation: slide-down 0.5s;
}
.sticky_logo{
	display:none;
}
.top-fixed .main_logo {
	display: none;
}
.top-fixed .sticky_logo {
	display: block;
	float: left;
}
.top-fixed .menubar ul li a {
	color: #FFF;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
}
.top-fixed .menu_button a {
	background: #FFF;
	color: #0066FF;
	transition:0.5s;
}
.top-fixed .menu_button a:hover {
	background:#13136D;
	transition:0.5s;
	color:#FFF;
}
.top-fixed .nav-icon i {
	font-size: 24px;
	color: #0066FF;
	border: 1px solid #FFF;
	background: #FFF;
}
@-webkit-keyframes slide-down {
    0% {
        opacity: 0;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100% {
        opacity: 0.9;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
@keyframes slide-down {
    0% {
        opacity: 0;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100% {
        opacity: 0.9;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
.arrow_down {
	width: 67px;
	height: 67px;
	border-radius: 100%;
	margin: auto;
	background: #FFF;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	box-shadow: 0px 0px 24px -8px rgb(150, 150, 150);
	/* position: absolute; */
	/* bottom: 0; */
	position: relative;
	margin-top: -34px;
	cursor:pointer;
}
.arrow_down .fa.fa-angle-down {
	font-size: 30px;
}
/* .menu-active{
	color:#FF8B7C !important;
} */
.current-menu-item a{
	color:#FF8B7C !important;
}
/******************************************** end banner area *************************************************************/


/******************************************** start culture area *************************************************************/
.culture-area {
	padding: 90px 0 48px 0;
}
.culture-img img {
	width: 100%;
	height: auto;
}
.culture-content {
	padding-left: 40px;
}
.culture-content h3 {
	font-size: 40px;
	color: #0066FF;
	font-weight: 700;
	padding-bottom: 16px;
	line-height: 44px;
	width: 97%;
}
.culture-content p {
	font-size: 16px;
	color: #000000;
	font-weight: 400;
	padding-bottom: 13px;
}
.content_culture {
	font-size: 16px;
	color: #000000;
	font-weight: 400;
	padding-bottom: 13px;
}
.culture-content ul li {
	font-size: 16px;
	color: #000000;
	font-weight: 400;
	padding-bottom: 6px;
}
.culture-content ul li span {
	padding-right: 6px;
}
.culture-content a {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 16px;
	display: inline-block;
	text-decoration: none;
	color: #06F;
	border-bottom: 2px solid #FF8B7C;
}
.culture-content i {
	font-size: 12px;
	position: relative;
	top: -2px;
	padding-left: 6px;
}
.discover-content.culture-content {
	padding-left: 0;
}
.culture-item {
	padding-bottom: 46px;
}
.col-xl-6.img-item1 {
	padding-right: 0;
}
.col-xl-6.img-item2 {
	padding-left: 0;
}
.discover-content.culture-content h3 {
	width: 53%;
}
.discover-content.culture-content p {
	width: 90%;
}
.culture-area .row {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	            -ms-grid-row-align: center;
	        align-items: center;
}
.magnific-popup {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	top: -30px;
	margin-top: -40px;
	padding-left: 16px;
	overflow: hidden;
}
.magnific-popup img {
	width: 45px;
	padding-right: 1;
	margin-right: 13px;
}
.magnific-popup p {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	color: #FFF;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 502;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  z-index:99999;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 503;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
	z-index:999999;
  }

.mfp-container {
  height: 100%;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
  z-index:999999;
  }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 505; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 504; }

.mfp-preloader a {
  color: #cccccc; }

.mfp-preloader a:hover {
  color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 506; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
  }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px; }

.mfp-arrow {
  position: absolute;
  top: 0;
  opacity: 0.65;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

.mfp-arrow:before, .mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: solid transparent; }
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  opacity: 0.8;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  border-top-width: 12px;
  border-bottom-width: 12px;
  top: 8px; }
.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 20px;
  border-bottom-width: 20px; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after,
  .mfp-arrow-left .mfp-a {
    border-right: 12px solid black;
    left: 5px; }
  .mfp-arrow-left:before,
  .mfp-arrow-left .mfp-b {
    border-right: 20px solid white; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after,
  .mfp-arrow-right .mfp-a {
    border-left: 12px solid black;
    left: 3px; }
  .mfp-arrow-right:before,
  .mfp-arrow-right .mfp-b {
    border-left: 20px solid white; }

.mfp-iframe-holder {
	padding-top: 40px;
	padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black; }

.mfp-iframe-holder .mfp-close {
  top: -43px; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }

.mfp-figure {
  line-height: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-break: break-word;
  padding-right: 36px; }

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }
/******************************************** end culture area ****************************************************************/


/******************************************** start business area ****************************************************************/
.business-area {
	background: #F6F7F9;
	overflow: hidden;
	padding: 120px 0 80px 0;
}
.business-content.culture-content {
	padding-left: 0;
}
.business-icon-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.icon_img img {
	width: 55px;
}
.business-content.culture-content h3 {
	width: 92%;
}
.icon_img {
	margin-right: 16px;
}
.icon-content h4 {
	color: #0066FF;
	font-size: 13px;
	font-weight: 700;
	padding-bottom: 6px;
	text-transform: uppercase;
}
.icon-content p {
	font-size: 14px;
	color: #000000;
}
.business-icon-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 15px;
	transition: 0.5s;
	padding: 15px 10px;
}
.business-icon-item:hover {
	background: #FFF;
	box-shadow: 0px 1px 20px -8px rgb(79, 79, 79);
	transition: 0.5s;
}
.business-icon-area a {
	text-decoration: none;
}
/******************************************** end business area ******************************************************************/


/******************************************** start blog area ******************************************************************/
.blog-area {
	padding: 100px 0;
}
.all-blog-post{
	padding:40px 0 80px 0;
}
.blog-title h2 {
	font-size: 40px;
	color: #0066FF;
	font-weight: 700;
	padding-bottom: 60px;
}
.blog-single-item img {
	width: 100%;
	height: auto;
}
.blog-single-item {
	-webkit-transition: 0.5s;
	transition: 0.5s;
	height: 100%;
	background: #EFF1F4;
}
.blog-single-item:hover {
	margin-top: -16px;
	-webkit-transition:0.5s;
	transition: 0.5s;
}
.blog-content {
	padding: 20px 20px;
	position: relative;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}
.all_blog{
	margin-bottom:30px;
}
a.read-more {
	color: #FFF;
	margin: 0 15px;
	background: #0066FF;
	padding: 4px 7px;
	overflow: hidden;
	display: inline-block;
	text-transform: capitalize;
	border-radius: 3px;
	font-size: 13px;
	text-decoration: none;
}

.blog-content p {
	color: #13136D;
	font-size: 15px;
	font-weight: 400;
	padding-bottom: 20px;
	-webkit-transition:0.5s;
	transition:0.5s;
}
.blog-content span {
	color: #A3A3A3;
	font-size: 15px;
	font-weight: 400;
	display:block;
}
.blog-content a {
	text-decoration: none;
}
.blog-single-item:hover {
	background: #FFF;
	box-shadow: 0 0 26px -6px #D2D2D2;
	-webkit-transition:0.5s;
	transition: 0.5s;
}
.blog-single-item:hover .blog-content p {
	color: #0066FF;
	-webkit-transition:0.5s;
	transition:0.5s;
}
.blog-button a {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 40px;
	display: inline-block;
	text-decoration: none;
	color: #06F;
	border-bottom: 2px solid #FF8B7C;
}
.blog-button i {
	font-size: 12px;
	position: relative;
	top: -2px;
	padding-left: 6px;
}
.single_page {
	padding: 120px 0 80px 0;
}
.single_item h3 {
	font-size: 24px;
	color: #13136D;
	font-weight: 500;
	padding-bottom: 30px;
}
.author_area {
	display: flex;
	padding-bottom: 30px;
}
.author_area p {
	font-size: 16px;
	margin-right: 20px;
	color:#000000;
}
.author_area a {
	font-size: 16px;
	color:#000000;
}
.author_area i {
	padding-right: 6px;
	font-size: 17px;
}
.single_item p {
	font-size: 16px;
	color: #000000;
	font-weight: 400;
	padding-bottom: 13px;
}
.single_item img {
	padding-bottom: ;
	margin-bottom: 20px;
}
#map{
	height:100%;
}
/******************************************** end blog area ********************************************************************/


/******************************************** start footer area ********************************************************************/
.footer-area {
	background: #0066FF;
	padding: 80px 0 30px 0;
}
.footer-left-area img {
	width: 60px;
}
.footer-left-area p {
	font-size: 18px;
	color: #FFF;
	font-weight: 700;
	padding: 24px 0 16px 0;
}
.footer-left-area form {
	width: 300px;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
}
.subscribe-area {
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}
.subscribe-area input {
	width: 100%;
	padding: 12px 30px 12px 15px;
	border: none;
	font-size: 16px;
}
.submit-area button {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: transparent;
	bottom: 0;
	margin: auto;
	border-left: 2px solid #06F;
	font-size: 24px;
	font-weight: 700;
	color: #06F;
	text-transform: uppercase;
	outline: none !important;
	padding: 0 16px;
	cursor:pointer;
}
.footer-top-area .footer-menu ul li a {
	color: #FFF;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	margin-bottom: 20px;
	display: block;
}
.footer-top-area .social-menu ul li a {
	text-transform: capitalize;
}
.footer-bottom-area {
	padding-top: 60px;
}
.copyright-area p {
	font-size: 16px;
	color: #FFF;
}
.tearms-area ul li a {
	color: #FFF;
	font-size: 16px;
	margin-left: 30px;
	text-decoration: none;
}
/******************************************** end footer area **********************************************************************/





/*****************************************************************
							team page
 ****************************************************************/

/******************************************** start home bar area **********************************/
.homebar-area {
	overflow: hidden;
	padding: 140px 0 40px 0;
}
.homebar-content {
	display: flex;
}
.homebar-content a {
	font-size: 16px;
	color: #A6A6A6;
	padding-right: ;
	margin-right: 10px;
	font-weight: 300;
	text-decoration:none;
}
.homebar-content i {
	margin-right: 3px;
}
/******************************************** end home bar area ************************************/


/******************************************** start team area ************************************/
.teambanner-area {
	overflow: hidden;
	padding-bottom: 40px;
}
.teambanner-content h2 {
	font-size: 56px;
	color: #0066FF;
	font-weight: 700;
	padding-bottom: 30px;
}
.teambanner-content img {
	width: 100%;
	height: auto;
}
.team-member-area {
	overflow: hidden;
	padding-bottom: 100px;
}
.team-member-img img {
	width: 100%;
	height: auto;
}
.team-single-item h3 {
	font-size: 17px;
	font-weight: 700;
	color: #000;
	padding-top: 20px;
	padding-bottom: 6px;
}
.team-single-item h4 {
	font-size: 15px;
	font-weight: 400;
	color: #000;
	padding-bottom: 6px;
	height: 45px;
}
.team-single-item p {
	font-size: 15px;
	font-weight: 400;
	color: #000;
	padding-top: 10px;
	padding-bottom: 6px;
}
.team-single-item a {
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 16px;
	display: inline-block;
	text-decoration: none;
	color: #06F;
	border-bottom: 2px solid #FF8B7C;
}
.team-single-item i {
	font-size: 12px;
	position: relative;
	top: -2px;
	padding-left: 6px;
}
.team-member-img {
	position: relative;
}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	justify-content: flex-end;
	background: rgba(0, 102, 255, 0.57);
	transition: 0.5s;
	overflow: hidden;
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: transform .5s ease, opacity .7s ease;
	transition: transform .5s ease, opacity .7s ease;
	padding: 30px;
}
.team-member-img:hover .overlay{
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: transform .5s ease, opacity 1.3s ease;
	transition: transform .5s ease, opacity 1.3s ease;
}
.overlay_content ul li a {
	color: #FFF;
	font-size: 16px;
	border: none;
	margin-bottom: 10px;
	line-height: 0;
	display: block;
}
.overlay_content ul li a i {
	font-size: 20px;
}
.team-single-item {
	margin-top: 60px;
}
.work-area {
	margin-top: 60px;
	display: flex;
	height: 92%;
	background: #FFEEEB;
	padding: 30px 100px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.work-content h2 {
	font-size: 46px;
	color: #0066FF;
	font-weight: 700;
	padding-bottom: 30px;
}
.work-content p {
	font-size: 15px;
	font-weight: 400;
	color: #000;
	padding-bottom: 6px;
}
.work-content a {
	background: #0066FF;
	color: #FFF;
	text-decoration: none;
	padding: 11px 20px;
	overflow: hidden;
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 5px;
	margin-top: ;
	align-items: center;
	transition: 0.5s;
	margin-top: 30px;
}
/******************************************** end team area **************************************/






/*****************************************************************
							cases page
 ****************************************************************/

/******************************************** start ai deliver area **************************************/
.ai-delivered-area {
	overflow: hidden;
	padding-bottom: 40px;
}
.ai-delivered-content h2 {
	font-size: 48px;
	color: #0066FF;
	font-weight: 700;
	padding-bottom: 15px;
	line-height: 48px;
}
.ai-delivered-content p {
	font-weight: ;
	font-size: 24px;
	color: #13136D;
	font-weight: 500;
	padding-bottom: 15px;
}
.ai-delivered-content ul {
	display: flex;
	margin-top:30px;
}
.ai-delivered-content ul li a {
	font-size: 18px;
	font-weight: 400;
	margin-right: 20px;
	padding: 13px 35px;
	display: block;
	text-decoration: none;
	color: #0066FF;
}
.ai-active{
	box-shadow: 0px 0 20px -1px rgb(217, 217, 217);
}
/******************************************** end ai deliver area ****************************************/


/******************************************** start industries area ****************************************/
.industries-area {
	background: #FFEEEB;
	padding: 60px 0;
}
.industries-title h3 {
	font-size: 30px;
	color: #13136D;
	font-weight: 500;
	padding-bottom: 40px;
}
.industries-single-item {
	position: relative;
	margin-bottom: 30px;
}
.industries-img img {
	width: 100%;
	height: auto;
}
.industries-single-item p {
	position: absolute;
	bottom: 15px;
	color: #FFF;
	width: 100%;
	font-weight: 700;
	font-size: 20px;
	left: 15px;
}
/******************************************** end industries area ******************************************/


/******************************************** start cases area ******************************************/
.cases-area {
	padding: 60px 0 0 0;
	overflow: hidden;
}
.cases-single-item .row {
	align-items: center;
}
.cases-title .title h3 {
	font-size: 30px;
	color: #13136D;
	font-weight: 500;
	padding-bottom: 40px;
}
.cases-content span {
	color: #FF8B7C;
	font-size: 18px;
	padding-bottom: 20px;
	display:block;
}
.cases-content h3 {
	font-size: 30px;
	line-height: 36px;
	width: 73%;
}
.exited-area {
	overflow: hidden;
	padding-bottom: 80px;
}
.cases-single-item {
	padding-bottom: 45px;
}
.exited-content {
	text-align: center;
}
.exited-content h3 {
	font-size: 30px;
	line-height: 36px;
	color: #0066FF;
	font-weight: 700;
	padding-bottom: 16px;
}
.exited-content a {
	color: #FFF;
	text-decoration: none;
}
.chat-button {
	background: #0066FF;
	color: #FFF;
	text-decoration: none;
	padding: 11px 16px;
	overflow: hidden;
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 5px;
	margin-top: ;
	align-items: center;
	transition: 0.5s;
	text-decoration: none;
	color: #FFF;
	margin-top: 10px;
}
.chat-button:hover{
	background: #13136D;
	transition: 0.5s;
}
.exited-content p {
	font-size: 16px;
	padding-top: 15px;
}
.exited-content p a {
	color: #0066FF;
	border-bottom: 1px solid #FF8B7C;
}
/******************************************** end cases area ********************************************/






/*****************************************************************
							why ai page
 ****************************************************************/
/******************************************** start why ai area ********************************************/
.why-ai-area {
	overflow: hdden;
	padding-bottom:60px;
}
.why-ai-content h2 {
	font-size: 56px;
	color: #0066FF;
	font-weight: 700;
	padding-bottom: 15px;
}
.why-ai-content h3 {
	font-size: 27px;
	font-weight: 500;
	color: #13136D;
	padding-bottom: 30px;
}
.why-ai-content p {
	font-size: 15px;
	color: #4B4B4B;
	font-weight: 400;
	padding-bottom: 20px;
}
.ai_content_area {
	padding-top: 60px;
}
.ai_content_area p {
	font-size: 18px;
	font-weight: 700;
	color: #13136D;
	padding-left: 15px;
	position: relative;
}
.ai_content_area p::after {
	position: absolute;
	content:"";
	width: 2px;
	height: 100%;
	left: 0;
	background: #FF8B7C;
	top: 0;
}
.overview-area {
	padding: 30px 24px;
	box-shadow: 0px 0 20px -1px rgb(217, 217, 217);
}
.overview-area h2 {
	font-size: 24px;
	font-weight: 700;
	color: #13136D;
	padding-bottom: 30px;
}
.overview-area ul li a {
	font-size: 15px;
	color: #06F;
	text-decoration: none;
	display: flex;
	padding-bottom: 14px;
}
.overview-area i {
	font-size: 12px;
	padding-right: 3px;
	margin-top: 5px;
}
.why-ai-area {
	overflow: hidden;
	padding: 20px 0 80px 0;
}
.whyai_img-area .ai_img {
	width: 100%;
	height: auto;
}
.ai_description h2 {
	font-size: 40px;
	color: #0066FF;
	font-weight: 700;
	padding-bottom: 6px;
	line-height: 44px;
}
.ai_description p {
	font-size: 15px;
	color: #000000;
	font-weight: 400;
	padding-top: 24px;
}
.artificial-area {
	overflow: hidden;
}
.arficial-img img {
	width: 100%;
	height: auto;
}
.artificial-area .row {
	align-items: center;
}
.artificaila-content p {
	font-size: 18px;
	font-weight: 700;
	color: #13136D;
	padding-left: 15px;
	position: relative;
}
.artificaila-content p::after {
	position: absolute;
	content:"";
	width: 2px;
	height: 100%;
	left: 0;
	background: #FF8B7C;
	top: 0;
}
.Machine-learning-area {
	padding: 80px 0;
}
.learning-content h3 {
	width: 60%;
	font-size: 30px;
	color: #0066FF;
	font-weight: 700;
	padding-bottom: 16px;
	line-height: 40px;
}
.learning-content p {
	font-size: 15px;
	color: #000000;
	font-weight: 400;
	padding-bottom: 13px;
}
/******************************************** end why ai area **********************************************/


/******************************************** start learnign2 area **********************************************/
.Machine-learning2-area {
	overflow: hidden;
	position:relative;
}
.Machine-learning2-area img {
	height: 100%;
	width: 100%;
}
.learnign2-content {
	position: absolute;
	bottom: 60px;
	width: 100%;
	height: auto;
	left: 15px;
}
.learnign2-content h2 {
	font-size: 30px;
	color: #FFF;
	width: 36%;
	overflow: hidden;
	font-weight: 700;
}
.aicontent-img-area {/*
	overflow: hidden; */
	background: #FFEEEB;
	padding-top: 80px;
}
.ai-single-content p {
	font-size: 15px;
	color: #000000;
	font-weight: 400;
	padding-bottom: 13px;
	padding-bottom:30px;
}
.row.mobile_apps {
	position: relative;
	top: 40px;
	margin-bottom: -100px;
	z-index: 9;
}
.deep-learnign-area {
	padding: 220px 0 30px 0;
}
.deep-learnign-content h3 {
	font-size: 30px;
	width: 86%;
	line-height: 36px;
}
.deep-learnign-content p {
	font-size: 15px;
}
.artificial-area {
	padding-bottom: 60px;
}
.why-ai-area2 h2 {
	width: 88%;
}
.artificial-area .magnific-popup img {
	width: 45px;
}
.tech-area {
	overflow: hidden;
	background: #F2F7FF;
	padding: 80px 0;
}
.tech-title h2 {
	font-size: 30px;
	color: #0066FF;
	font-weight: 700;
	padding-bottom: 16px;
}
.tech-title p {
	font-size: 15px;
	color: #000000;
	font-weight: 400;
	padding-top: ;
}
.tech-icons-area ul li {
	width: 23%;
	float: left;
	display: inline-block;
	height: 100px;
	background: #FFF;
	margin: 1% 1%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tech-icons-area ul li a {
	margin:20px 0
}
.tech-icons-area {
	margin-left: -58px;
}
.tech-icons-area img {
	width: 100%;
	padding:40px;
}
.tech-single-item h2 {
	font-size: 16px;
	font-weight: 900;
	color: #000;
	position:relative;
	margin-left:-20px;
	margin-top:10px;
}
.tech-single-item h2::after {
	position: absolute;
	content: "";
	width: 14px;
	height: 14px;
	background: url(../images/whyai/icon/icons22.png) no-repeat 0 0 / 100% 100%;
	top: -6px;
}
.row.tech-item {
	margin-top: 40px;
}
.about-ai {
	padding: 80px 0 40px 0;
}
.about-ai-content a {
	background: #0066FF;
	color: #FFF;
	text-decoration: none;
	padding: 13px 20px;
	overflow: hidden;
	display: inline-block;
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
	border-radius: 5px;
	margin-top: 25px;
	transition: 0.5s;
	border: none;
}
.about-ai-content a:hover{
	background: #13136D;
	transition: 0.5s;
}
.about-ai .row {
	align-items: center;
}
/******************************************** end learnign2 area ************************************************/







/*****************************************************************
							contact page
 ****************************************************************/
/******************************************** start contact area ************************************************/
.ai-delivered-content .line {
	width: 450px;
	overflow: hidden;
	position: relative;
}
.help-contact h2 {
	width: 90%;
}
.ai-delivered-content .line h4 {
	width: 30px;
	height: 30px;
	background: #FFF;
	margin: auto;
}
.ai-delivered-content .line::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	background: #FF8B7C;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: -1;
}
.contact-address-area {
	padding: 30px 0 60px 0;
}
.address-single-area h3 {
	font-size: 18px;
	color: #0066FF;
	font-weight: 700;
	height: 30px;
}
.address-single-area ul li {
	font-size: 15px;
	color: #000000;
	font-weight: 400;
}
.address-single-area ul li a {
	font-size: 15px;
	color: #000000;
	font-weight: 400;
	text-decoration:none;
}
.map-area {
	overflow: hidden;
	padding: 20px 0 60px 0;
}
.map-iframe iframe {
	width: 100%;
	height: 400px;
}
.contact-area {
	overflow: hidden;
	padding: 0 0 80px 0;
}
.contact-form-area {
	padding: 30px;
	background: #F2F7FF;
}
.contact-form-area h3 {
	font-size: 26px;
	font-weight: 500;
	color: #13136D;
	padding-bottom: 30px;
	padding-top: 10px;
}
.input-area input {
	width: 100%;
	height: 40px;
	margin-bottom: 30px;
	background: transparent;
	border-bottom: ;
	border: 0;
	border-bottom: 1px solid rgb(0, 102, 255,25%);
	padding-bottom: 6px;
	font-size: 15px;
	color: #000;
}
.input-area input::placeholder{
	color:#000000;
	opacity:1;
}
.message-area textarea {
	width: 100%;
	height: 40px;
	margin-bottom: 30px;
	background: transparent;
	border-bottom: ;
	border: 0;
	border-bottom: 1px solid rgb(0, 102, 255,25%);
	padding-bottom: 6px;
	font-size: 15px;
	color: #000;
}
.message-area textarea::placeholder{
	color:#000000;
	opacity:1;
}
.submit-area input {
	background: #0066FF;
	color: #FFF;
	padding: 11px 0;
	overflow: hidden;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.5s;
	width: 100%;
	border: 0;
	margin-top: 20px;
	cursor: pointer;
	text-align: center;
	margin-bottom: 10px;
}
.events-area {
	padding-top: 10px;
}
.events-area h3 {
	font-size: 26px;
	font-weight: 500;
	color: #13136D;
	padding-bottom: 30px;
}
.events-date {
	width: 20%;
	float: left;
}
.events-content {
	width: 65%;
	float:left;
}
.events-name {
	width: 15%;
	float: right;
}
.events-date p {
	font-size: 16px;
	color: #000000;
	font-weight: 400;
}
.events-content a {
	font-size: 16px;
	color: #06F;
	font-weight: 400;
	text-decoration: none;
	padding-bottom: 3px;
	border-bottom: 1px solid #FF8B7C;
}
.events-name p {
	font-size: 16px;
	color: #000000;
	font-weight: 400;
}
.evets-single-item {
	padding-bottom: 15px;
	overflow: hidden;
}
.past-events {
	padding-top: 40px;
	width: 100%;
	overflow: hidden;
	padding-bottom: 40px;
}
.past-events-title h2 {
	font-size: 27px;
	font-weight: 500;
	color: #13136D;
	padding-top: 4px;
}
.past-events-title {
	float: left;
}
.tabs-item {
	float: right;
}
.tabs-item ul {
	display: flex;
	padding-right:10px;
}
.tabs-item ul li a {
	font-size: 16px;
	font-weight: 400;
	padding: 10px 22px;
	display: block;
	text-decoration: none;
	color: #000000;
	overflow: hidden;
}
.past_events_item .events-date p {
	color: #A5A5A5;
}
.past_events_item .events-content a {
	color: #A5A5A5;
	border-bottom: 0;
}
.past_events_item .events-name p {
	color: #A5A5A5;
}
.tabs-item .ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active {
	box-shadow: 0px 0 20px -1px rgb(217, 217, 217);
}

.check-list{
	float:left;
	overflow:hidden;
	height:80px;
}
.check-box-area span {
	font-size: 15px;
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	padding-bottom: 3px;
	margin-top:7px;
}
.check-box-area a {
	color: #06F;
	border-bottom: 1px solid #FF8B7C;
	text-decoration:none;
}
.check-box-area {
	position: relative;
	padding-left: 42px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: block;
	padding-top: 10px;
}
.check-box-area input {
    position:absolute;
    opacity: 0;
    cursor: pointer;
	-moz-webkit:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}
.checkmark {
	position: absolute;
	top: 8px;
	left: 0;
	height: 30px;
	width: 30px;
	border: 1px solid rgb(0, 102, 255,25%);
	border-radius: 3px;
}
.vote-check{
	overflow:hidden;
	display:block;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.check-box-area input:checked ~ .checkmark:after {
    display: block;
}
.check-box-area .checkmark::after {
	left: 9px;
	top: 3px;
	width: 11px;
	height: 17px;
	border: solid #0066FF;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
/******************************************** end contact area **************************************************/
